:root {
  --IRIS: #4d5ae5;
  --NAVY-BLUE: #2e2f42;
  --WHITE: #ffffff;
  --SLATE: #434455;
  --CLOUD: #f4f4fd;
  --OCEAN: #404bbf;
  --CORNFLOWER: #e7e9fc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* globaL style rules */
body {
  background-color: var(--WHITE);
  font-family: "Roboto", sans-serif;
  color: var(--SLATE);
}

/* class rules */

/* rules for header */

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-container {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.main-navigation-container {
  display: flex;
  align-items: center;
}

.logo {
  text-transform: uppercase;
  color: var(--IRIS);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  font-family: "Raleway", sans-serif;
}

.part-of-logo {
  color: var(--NAVY-BLUE);
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.nav-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%; /* 150% */
  letter-spacing: 0.32px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--OCEAN);
}

.address-container {
  font-style: normal;
}

.address-link {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
}

.address-link:hover,
.address-link:focus {
  color: var(--OCEAN);
}
/* rules for header-positioning */

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-section {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background-color: var(--WHITE, #fff);
}

.header-container {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.main-navigation-container {
  display: flex;
  align-items: center;
}

.address-list {
  list-style-type: none;
  display: flex;
  gap: 40px;
}

.navigation-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
/* rules for main content */

/* hero content section */

.hero-image-section {
  background-color: var(--NAVY-BLUE);
  margin-bottom: 120px;
}

.hero-image-header {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 107.143%; /* 107.143% */
  letter-spacing: 1.12px;
  width: 496px;
}

.hero-image-button {
  background: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%; /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  padding: 16px 32px;
  border-radius: 4px;
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
}

.hero-image-button:hover,
.hero-image-button:focus {
  background-color: var(--OCEAN);
}
/* rules for hero section-positioning */

.hero-content-container {
  height: 600px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* section one styles , webstudio qualities */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.quality-header {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%; /* 120% */
  letter-spacing: 0.4px;
}

.quality-description {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 150%; /* 150% */
  letter-spacing: 0.32px;
}

/* section one : positoning */

.first-section {
  margin-bottom: 120px;
}

.first-section-container {
  display: flex;
  flex-shrink: 0;
  height: 104px;
}

.first-section-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.quality-container {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
/* section two : What are we doing */

.section-two-header {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

/* section two : positioning rules*/

.section-two {
  margin-bottom: 120px;
}
.section-two-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
  height: 412px;
  flex-shrink: 0;
}

.sec-two-image-list {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

/* section three: Our team */

.section-three-header {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team-member-header {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%; /* 120% */
  letter-spacing: 0.4px;
}

.team-member-description {
  color: var(--SLATE);
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.32px;
}

/* section three: positioning rules */

.section-three {
  background-color: var(--CLOUD, #f4f4fd);
  padding-bottom: 120px;
}

.section-three-container {
  display: flex;
  flex-direction: column;
}

.sec-three-members-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-member-container {
  background-color: var(--WHITE, #fff);
  display: inline-flex;
  padding-bottom: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 0px 0px 4px 4px;
}

/* footer section */

.part-of-logo-footer {
  color: var(--CLOUD);
}

.footer-additional-description {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  line-height: 150%; /* 150% */
  letter-spacing: 0.32px;
  max-width: 264px;
}

/* footer positioning */

.footer {
  background-color: var(--NAVY-BLUE, #2e2f42);
  height: 312px;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  gap: 16px;
}

/* ./PORTOFOLIO.HTML */

/* the list of buttons */

.sec-one-button {
  background-color: var(--CLOUD);
  color: var(--IRIS);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%; /* 150% */
  letter-spacing: 0.64px;
  text-align: center;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--CORNFLOWER);
}

.sec-one-button:hover,
.sec-one-button:focus {
  background-color: var(--OCEAN);
  color: var(--WHITE);
}

/*list of portfolio projects */

.project-header {
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%; /* 120% */
  letter-spacing: 0.4px;
  text-transform: capitalize;
}

.project-description {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 150% */
  letter-spacing: 0.32px;
}

/* portfolio main positioning rules */

.sec-one-portfolio {
  margin-top: 96px;
}
.sec-one-container-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.sec-one-list-of-buttons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.list-of-projects-sec-two {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.project-container {
  background-color: var(--WHITE, #fff);
  display: flex;
  width: 360px;
  height: 420px;
  padding-bottom: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
  border: 1px solid var(--CORNFLOWER);
}
